h1 {
    color: #FF0000;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

p {
    color: red;
    text-align: center;
  }
 
ul {
    color: white;
}

li {
    text-align: center;
}

div {
    color: white;
    text-align: center;
}

